<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/blogCss.css">
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>
<div class="jumbotron text-left" style="margin-bottom:0">
    <h1>HTML and CSS Topics</h1>
</div>
<nav class="topnav">
    <a href="/profile">About</a>
    <a href="/about">Bootcamp</a>
    <a href="/">Home</a>
</nav>
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
<!--            <div class="fakeimg">Fake </div>-->
            <img src="/image/CSS Color.png" class="img-fluid" alt = "css color image" height = "360" width="490">
            <p>The color CSS property sets the foreground color value
                of an element's text and text decorations, and sets the current color value.
                Current color may be used as an indirect value on other properties and is
                the default for other color properties, such as border-color .</p>
        </div>
        <div class="col-sm-6">
            <h1>Colors</h1>
<!--            <h5>May 11, 2019</h5>-->
<!--            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>-->
            <br>
        </div>
    </div>
</div>

<footer>
    <nav class="bottomnav">
        <a href="/about" class="nav-link disabled">Previous Concept</a>
        <a href="/">Home</a>
        <a href="/HTML_One">Next Concept</a>


    </nav>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>