<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/about">BootCamp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-4">
            <br></br>
            <br></br>
            <img src="/image/ProfOona3.jpg" class="img-fluid" style="width:350px;height:200px"
                 margin ="top" alt="Oona's alter ego">
            <h4><b>Oona Carbonie</b></h4>
            <b>Bio:</b><br>
            <p class ="text-center">Oona started coding in January 2019 and has finally found her passion. Her hobbies
                are usually centered around fixing things and getting things to work better.<br>
                <i>If things aren't broken...break them, for research purposes!</i></p>
            <br>
            <div class="text-center">
            <a href="https://www.linkedin.com/in/oonaameliecarbonie/"><i class="fa fa-linkedin-square"
                                                                         style="font-size:36px;color:blue"></i></a>
            <a href="https://github.com/ocarbonie"><i class="fa fa-github" style="font-size:36px"></i></a>
                <a href="https://m.facebook.com/ellen.nigma.9?ref="><i class="fa fa-facebook-official"
                                                                       style="font-size:36px;color:blue"></i></a>
                <a href="https://www.twitter.com/Just_Oona"><i class="fa fa-twitter"
                                                               style="font-size:36px;color:lightblue"></i></a>
        </div>
        </div>
        <div class="col-4">
            <br></br>
            <img src="/image/ProfOona.jpg"class="img-fluid" style="width:250px;height:250px" alt="Milana's alter ego">
            <h4><b>Milana Campbell</b></h4>
            <b>Bio:</b><br>
            <p  class ="text-center">When she isn't out there saving the world, Milana spends time with her daughter.
                She started coding with the Java Web Development bootcamp and has her heart set on yet another superhero's
                career of becoming a lawyer.<br><i>Can you handle the truth?</i></p>
            <br>
            <div class="text-center">
            <a href="https://www.linkedin.com/in/milana-campbell/"><i class="fa fa-linkedin-square"
                                                                          style="font-size:36px;color:blue"></i></a>
            <a href="https://github.com/sunnycal"><i class="fa fa-github" style="font-size:36px"></i></a>
            <a href="https://m.facebook.com/mil.camp.3#_=_"><i class="fa fa-facebook-official"
                                                               style="font-size:36px;color:blue"></i></a>
            <a href="https://www.twitter.com/banks355"><i class="fa fa-twitter"
                                                              style="font-size:36px;color:lightblue"></i></a>
            </div>
            </div>

        </div>
    </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>