<!DOCTYPE html>
<html lang="en">
</head>

<body>

<h1>"Program and Design 2"</h1>

<h2> date </h2>

<h3>title, content body  </h3>

<ui>

    <li> <a href = "https://loremipsum.io/">  Lorem Ipsum place holder site</a> </li>

</ui>

<p> Lorem ipsum dolor sit amet,...</p>
<p> consectetur adipiscing elit, sed do</p>
<p>  eiusmod tempor incididunt ut labore..</p>
<p>    et dolore magna aliqua. Ut enim ad </p>
<p>  minim veniam, quis nostrud exercitation </p>
<p> ullamco laboris nisi </p>










</body>
</html>